
name: Deploy pdf to release

on:
  # Runs on pushes targeting the default branch
  push:
    branches: [ "cicd" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:  
  deploy:    
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4      
      - name: Build HTML
        run: |
          docker compose run --rm latex-release   
      - uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: "latest"
          prerelease: true
          title: "Development Build"
          files: |            
            ./doc/*.pdf